<div class="row">
  <div *ngIf="item.sold" class="col-4">
    <span>{{item.marketplace}}</span>
    <mat-list>
      <mat-list-item class="list-group-item">Price Sold: {{item.priceSold | currency:'USD'}}</mat-list-item>
      <mat-list-item *ngIf="item.marketplace" class="list-group-item">Market (rate): {{item.marketplace}} ({{
        item.rate | percent:'1.0-4'}})</mat-list-item>
      <mat-list-item class="list-group-item">Price Purchased: {{item.pricePurchased | currency:'USD'}}</mat-list-item>
      <mat-list-item class="list-group-item">Profit: {{item.profit | currency:'USD'}}</mat-list-item>
    </mat-list>
  </div>
  <div class="col-8">
    <app-compare-markets *ngIf="item.sold && item.priceSold && item.marketplace && item.pricePurchased" [item]="item">
    </app-compare-markets>
  </div>
</div>
