<div class="col-12">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let displayedColumn of displayedColumns" scope="col">{{displayedColumn}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" [ngStyle]="{'background-color': item.sold ? 'red' : 'white'}">
        <td>{{item.merchant}}</td>
        <td>{{item.itemName}}</td>
        <td>{{item.pricePurchased | currency:'USD'}}</td>
        <td>{{item.marketplace}}</td>
        <td>{{item.priceSold | currency:'USD'}}</td>
      </tr>
    </tbody>
  </table>
</div>